In [2]:
import numpy as np
import pandas as pd 
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
import nltk
from nltk.corpus import stopwords
from sklearn.metrics import accuracy_score

# import all necessary libraries for handling data, models etc

In [3]:
# exploration of data 
data_train = pd.read_csv("C:\\Users\\regsa\\Desktop\\Disaster\\train.csv")

In [4]:
print(data_train.shape)

(7613, 5)

In [5]:
data_train.head(5)
# features : id, keyword, location, text, target?
# missing values <<<<

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [6]:
data_train.tail(5)

,id,keyword,location,text,target
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [7]:
# Missing values for keyword and location. No need for them, as well for id
data_train = data_train.drop(["location", "keyword", "id"], axis=1)
data_train.head(5)

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1

In [8]:
#text and target remain
# pre proces text for further use. SIMPLE
stop = stopwords.words('english')
data_train["text"] = data_train["text"].str.lower()
data_train["text"] = data_train["text"].str.replace('[^a-zA-Z]', ' ')
data_train['text_without_stopwords'] = data_train['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
#lower case as it doesnt matter and only alphanumeric letters

In [9]:
data_train.head()

,text,target,text_without_stopwords
0,our deeds are the reason of this earthquake m...,1,deeds reason earthquake may allah forgive us
1,forest fire near la ronge sask canada,1,forest fire near la ronge sask canada
2,all residents asked to shelter in place are ...,1,residents asked shelter place notified officer...
3,people receive wildfires evacuation or...,1,people receive wildfires evacuation orders cal...
4,just got sent this photo from ruby alaska as ...,1,got sent photo ruby alaska smoke wildfires pou...

In [10]:
count_vectorize = CountVectorizer()
vectorized_text = count_vectorize.fit_transform(data_train["text"])

In [11]:
print(vectorized_text[:1])

  (0, 13652)	1
  (0, 4271)	1
  (0, 830)	1
  (0, 18651)	1
  (0, 15498)	1
  (0, 13273)	1
  (0, 18760)	1
  (0, 5226)	1
  (0, 11575)	1
  (0, 471)	1
  (0, 6631)	1
  (0, 19854)	1
  (0, 470)	1

In [12]:
# train and test split 
X = vectorized_text
y = data_train["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=53)
print(X_test.shape)
print(y_train.shape)

(2284, 22101)
(5329,)

In [13]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, y_train)
pred = nb_classifier.predict(X_test)
metrics.accuracy_score(y_test, pred)

0.7946584938704028

In [14]:
#80 % accuracy for 30% split Confusion matrix to see more
metrics.confusion_matrix(y_test, pred, labels=[0,1])

array([[1120,  173],
       [ 296,  695]], dtype=int64)

In [15]:
X = vectorized_text
y = data_train["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.5, random_state=53)
print(X_test.shape)
print(y_train.shape)

(3807, 22101)
(3806,)

In [16]:
nb_classifier.fit(X_train, y_train)
pred = nb_classifier.predict(X_test)
metrics.accuracy_score(y_test, pred)
#Lower accuracy for higher split

0.7840819542947203

In [17]:
X = vectorized_text
y = data_train["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=53)
print(X_test.shape)
print(y_train.shape)

(2284, 22101)
(5329,)

In [18]:
nb_classifier.fit(X_train, y_train)
pred = nb_classifier.predict(X_test)
score1 = metrics.accuracy_score(y_test, pred)
#30% seems fine, no over -or underfitting

In [19]:
count_vectorize = CountVectorizer()
vectorized_text = count_vectorize.fit_transform(data_train["text_without_stopwords"])
X = vectorized_text
y = data_train["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=53)

nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, y_train)
pred = nb_classifier.predict(X_test)
score2 = metrics.accuracy_score(y_test, pred)

In [20]:
metrics.confusion_matrix(y_test, pred, labels=[0,1])

array([[1103,  190],
       [ 271,  720]], dtype=int64)

In [21]:
print(score1*100,score2*100)

79.46584938704028 79.81611208406305

In [23]:
from nltk.stem import WordNetLemmatizer
wordnet_lemma = WordNetLemmatizer()

In [24]:
lemmatized = [wordnet_lemma.lemmatize(t) for t in data_train["text_without_stopwords"]]

In [25]:
print(lemmatized[:5])
print(data_train["text"])

['deeds reason earthquake may allah forgive us', 'forest fire near la ronge sask canada', 'residents asked shelter place notified officers evacuation shelter place orders expected', 'people receive wildfires evacuation orders california', 'got sent photo ruby alaska smoke wildfires pours school']
0       our deeds are the reason of this  earthquake m...
1                  forest fire near la ronge sask  canada
2       all residents asked to  shelter in place  are ...
3              people receive  wildfires evacuation or...
4       just got sent this photo from ruby  alaska as ...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609     aria ahrary  thetawniest the out of control w...
7610    m            utc   km s of volcano hawaii  htt...
7611    police investigating after an e bike collided ...
7612    the latest  more homes razed by northern calif...
Name: text, Length: 7613, dtype: object

In [26]:
count_vectorize = CountVectorizer()
vectorized_text = count_vectorize.fit_transform(lemmatized)
X = vectorized_text
y = data_train["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=53)

nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, y_train)
pred = nb_classifier.predict(X_test)
score2 = metrics.accuracy_score(y_test, pred)
print(score2)

0.7981611208406305

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer 
tfidf_vectorizer = TfidfVectorizer(max_df=0.7)

tfidf_train = tfidf_vectorizer.fit_transform(data_train["text_without_stopwords"])

In [29]:
print(tfidf_train[:1])

  (0, 19738)	0.2701769443638491
  (0, 6592)	0.46885303328531547
  (0, 464)	0.404990843676289
  (0, 11507)	0.28963574072798354
  (0, 5189)	0.3252102410294088
  (0, 15408)	0.3656363472816195
  (0, 4244)	0.46885303328531547

In [34]:
X = tfidf_train
y = data_train["target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=53)

nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, y_train)
pred = nb_classifier.predict(X_test)
score3 = metrics.accuracy_score(y_test, pred)
print(score3)

0.799080761654629

In [35]:
print(score1,score2, score3)

0.7946584938704028 0.7981611208406305 0.799080761654629